/* ================================
   VIDEO PLAYER WIDGET
   ================================ */

.ecomolimpo-video-player {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.ecomolimpo-video-player video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Plyr overrides to match container border-radius */
.ecomolimpo-video-player .plyr {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.ecomolimpo-video-player .plyr__video-wrapper {
    height: 100%;
    width: 100%;
}
